<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="moyun.sinaapp.com.yuedu">

    <application
            android:allowBackup="true"
            android:icon="@mipmap/logo"
            android:label="@string/app_name"
            android:theme="@style/AppTheme">
        <activity
                android:name="moyun.sinaapp.com.yuedu.ui.activity.MainActivity"
                android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity android:name="moyun.sinaapp.com.yuedu.ui.activity.NewsWebActivity"/>
        <activity android:name="moyun.sinaapp.com.yuedu.ui.activity.NewsImgActivity"/>
        <activity android:name="moyun.sinaapp.com.yuedu.ui.activity.SeeImageActivity"/>
        <activity android:name="moyun.sinaapp.com.yuedu.ui.activity.AboutActivity"/>
        <activity android:name="moyun.sinaapp.com.yuedu.ui.activity.FeedbackActivity"/>
        <activity android:name="moyun.sinaapp.com.yuedu.ui.activity.MusicActivity"/>
        <activity
                android:configChanges="orientation|keyboardHidden"
                android:name="moyun.sinaapp.com.yuedu.ui.activity.QrCodeActivity"
                android:hardwareAccelerated="true"
                android:windowSoftInputMode="stateAlwaysHidden">
        </activity>
        <service android:name="moyun.sinaapp.com.yuedu.widgets.service.MusicService">
            <intent-filter>
                <action android:name="com.sinaapp.moyun.MusicService"></action>
            </intent-filter>
        </service>
    </application>

    <!--网络权限-->
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE"/>
    <!--存储卡-->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <!-- GPS定位权限 -->
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
    <!--相机-->
    <uses-permission android:name="android.permission.CAMERA"/>
    <uses-permission android:name="android.permission.FLASHLIGHT" />
    <uses-feature android:required="true" android:name="android.hardware.camera"/>
    <uses-feature android:name="android.hardware.autofocus"/>
    <!--写入文件-->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS"/>
</manifest>

